body {
    background-image: linear-gradient(to bottom right,red,green,blue);
}
h1{
    color:darkgrey;
    text-align: center;
    font-weight:bold;
    text-shadow: 3px 3px 5px black;
}
h3{
    color:black;
    text-align: center;
    font-weight:bold;
}
input{
    background-color: blueviolet;
    margin-left:23%;
    font-size:medium;
    width:50%;
    text-align: center;
}
button{
    background-color: crimson;
    font-size:large;
    
}
#localVideo{
    float: left;
    margin-top:15px;
}
#remoteVideo{
    float:right;
    margin-top:15px;
}
